<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Recipe Finder</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/vuetify.min.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- Font library and icon pack -->
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
</head>

<body>
  <div id="app">
    <v-app v-cloak standalone>
      <v-navigation-drawer permanent floating light class="transparent">
        <v-card class="ma-3">
          <v-list dense class="py-0">
            <v-list-tile v-for="item in dashItems" :key="item" class="grey lighten-2">
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-navigation-drawer>
      <v-toolbar class="green" light>
        <v-toolbar-title>Recipe Finder</v-toolbar-title>
      </v-toolbar>
      <main>
        <v-container fluid>

          <v-layout row>
            <v-flex xs1>
              <v-subheader class="black--text text--lighten-1">
                <v-icon>search</v-icon>
              </v-subheader>
            </v-flex>
            <v-flex xs3>
              <v-text-field v-model="foodQuery" @keyup.enter.native="searchFoods" label="Find a recipe..." light></v-text-field>
            </v-flex>
            <v-flex xs1>
              <v-btn light @click.native="searchFoods">Search</v-btn>
            <v-flex>
          </v-layout>
          <v-card v-for="(r, i) in recipes">
            <v-card-media
              class="white--text"
              height="260px"
              contain
              :src="r.recipe.image"
            >
              <v-container fill-height fluid>
                <v-layout fill-height>
                  <v-flex xs12 align-end flexbox>
                    <span class="headline"></span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-media>
            <v-card-title>
              <div>
                <span class="grey--text">Result {{ i+1 }}</span><br>
                <span v-text="r.recipe.label"></span><br>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat class="orange--text">Go to Recipe</v-btn>
            </v-card-actions>
          </v-card>
        </v-container>
      </main>
    </v-app>
  </div>

  <!-- Scripts -->
  <script src="js/vue.js"></script>
  <script src="js/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/index.js"></script>
</body>

</html>
