<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Recipe Finder</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/vuetify.min.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- Font library and icon pack -->
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
</head>

<body>
  <div id="app">
    <v-app v-cloak standalone>

      <v-navigation-drawer permanent floating light class="light grey lighten-3">
        <v-list dense class="pt-0 grey lighten-3">
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>forum</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>About</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>

      <v-toolbar class="cyan darken-1" dark fixed>
        <v-icon>restaurant_menu</v-icon>
        <v-toolbar-title>Recipe Finder</v-toolbar-title>
      </v-toolbar>

      <main>
        <v-container fluid>
          <v-layout row wrap>
            <v-flex xs3>
              <v-layout row>
                <v-text-field v-model="foodQuery" label="Enter a recipe"></v-text-field>
                <v-btn @click.native="searchFoods" class="search">
                  <v-icon>search</v-icon>
                </v-btn>
              </v-layout>
            </v-flex>

            <!-- Recipe Results -->
            <v-flex xs8>
              <v-layout v-if="recipes.length !== 0" row v-for="i in Math.floor(recipes.length/2)">
                <v-flex xs6>

                  <v-card class="recipe" height="190px">
                    <v-card-media :src="recipes[(i - 1) * 2].recipe.image" height="50px">
                    </v-card-media>
                    <v-card-title primary-title>
                      <div>
                        <h3 class="headline mb-0"><a :href="recipes[(i - 1) * 2].recipe.url" target="_blank">{{ recipes[(i - 1) * 2].recipe.label }}</a></h3>
                      </div>
                    </v-card-title>
                  </v-card>

                </v-flex xs6>
                <v-flex xs6>

                  <v-card class="recipe" height="190px">
                    <v-card-media :src="recipes[(i - 1) * 2 + 1].recipe.image" height="50px">
                    </v-card-media>
                    <v-card-title primary-title>
                      <div>
                        <h3 class="headline mb-0"><a :href="recipes[(i - 1) * 2].recipe.url" target="_blank">{{ recipes[(i - 1) * 2 + 1].recipe.label }}</a></h3>
                      </div>
                    </v-card-title>
                  </v-card>

                </v-flex xs6>
                <v-layout row>
            </v-flex>

            </v-layout>
        </v-container>
      </main>
    </v-app>
  </div>

  <!-- Scripts -->
  <script src="js/vue.js"></script>
  <script src="js/vuetify.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/index.js"></script>
</body>

</html>
